page-home {
.card1{
    height:23%;
    border-radius: 3%;
    background:url('../../assets/iphone2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding:10%;
    color:white;
    position:relative;
}
.card2{
    height:23%;
    border-radius: 3%;
    background:url('../../assets/j.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding:10%;
    color:white;
 
}
.card3{
    height:23%;
    border-radius: 3%;
    background:url('../../assets/car09.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding:10%;
   color:white;
}
.card4{
    height:23%;
    border-radius: 3%;
    background:url('../../assets/ds.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding:10%;
    color:white;
}
.p{
font-size:2em;
font-family: 'Anton', sans-serif;
}


}
